@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<HalloDoc_DAL.ViewModels.AdminViewModels.ProvidersModel>
<div class="table-responsive mt-3 ">
    <table class="table">
        <thead class="border-0">
            <tr class="table-secondary">
                <th scope="col" class="table-text-header px-3">
                    Stop Notification
                </th>
                <th scope="col" class="table-text-header d-none">PhysicianId</th>
                <th scope="col" class="table-text-header d-none">RegionId</th>
                <th scope="col" class="table-text-header ">Provider Name</th>
                <th scope="col" class="table-text-header ">Role</th>
                <th scope="col" class="table-text-header ">On Call Status</th>
                <th scope="col" class="table-text-header ">Status</th>
                <th scope="col" class="table-text-header ">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item2 in Model)
            {
                <tr>
                    <td scope="col" class="table-text px-3">
                        <div class="form-check">
                            <input class="form-check-input subcheckbox" type="checkbox" value="@item2.IsNotificationStopped"  id="flexCheckDefault">
                        </div>
                    </td>

                    <td scope="col" class="table-text d-none">@item2.PhysicianId</td>
                    <td scope="col" class="table-text d-none">@item2.RegionId</td>
                    <td scope="col" class="table-text ">@item2.Physician</td>
                    <td scope="col" class="table-text ">@item2.RoleName</td>
                    <td scope="col" class="table-text ">@item2.OnCallStatus</td>
                    <td scope="col" class="table-text ">
                        @if(item2.Status == 1)
                        {
                            <p>Pending</p>
                        }
                        @if (item2.Status == 2)
                        {
                            <p>Active</p>
                        }
                        @if (item2.Status == 3)
                        {
                            <p>Not Active</p>
                        }
                    </td>
                    <td scope="col" class="table-text ">
                        <button class="btn btn-outline-info" data-bs-toggle="modal" data-bs-Physicianemail="@item2.email" data-bs-PhysicianId="@item2.PhysicianId" data-bs-Physician="@item2.Physician" data-bs-target="#contactprovidermodal">Contact</button>
                        <a class="btn btn-outline-info" asp-action="EditPhysician" asp-controller="Providers" asp-route-physicianid="@item2.PhysicianId"> Edit</a>
                    </td>
                </tr>

            }
        </tbody>
    </table>
</div>
<script>
    const contactprovidermodal = document.getElementById('contactprovidermodal')
    if (contactprovidermodal) {
        contactprovidermodal.addEventListener('show.bs.modal', event => {
            // Button that triggered the modal
            const button = event.relatedTarget
            // Extract info from data-bs-* attributes
            const Physician = button.getAttribute('data-bs-Physician')
            const Physicianemail = button.getAttribute('data-bs-Physicianemail')
            const PhysicianId = button.getAttribute('data-bs-PhysicianId')
            console.log(Physician);
            console.log(Physicianemail);
            // If necessary, you could initiate an Ajax request here
            // and then do the updating in a callback.
            // Update the modal's content.
            const name = contactprovidermodal.querySelector('.modal-body #name')
            document.getElementById('Physicianemail').value = Physicianemail;
            document.getElementById('PhysicianId').value = PhysicianId;
            document.getElementById('Physician').value = Physician;
            //modalTitle.textContent = `New message to ${recipient}`
            name.textContent = Physician
            
           
        })
    }
</script>