@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using HalloDoc_MVC.Models.CV
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model HalloDoc_DAL.ViewModels.AdminViewModels.AdminProfileModel
@{
    ViewData["Title"] = "Admin Profile";

}
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<section class="container-fluid w-75 my-5">
    
    <div class=" d-flex flex-row-reverse justify-content-between form-admin mb-3">
        <a asp-controller="AdminDashboard" asp-action="Index" class="text-decoration-none text-info ">
            <span class="ml-5 btn btn-outline-info">
                <i class="fa fa-solid fa-angle-left"></i> Back
            </span>
        </a>
        <h4>My Profile</h4>
    </div>

    @* Account Information only ResetPassword *@
    <form asp-action="ResetPasswordProfile" asp-controller="AdminProfile" method="post" class="row bg-white shadow  form-admin">
        <input name="AdminId" hidden id="AdminId" value="@CV.AspNetUserID" />

        <div class="col-12 mb-3">
            <h3>Account Information </h3>
        </div>
        <div class="col-12 mb-3">
            <h4>@ViewBag.error</h4>
        </div>
        
        <div class=" col-md-6 col-sm-12 mb-3">
            <div class="form-floating ">
                <input asp-for="UserName" class="form-control inputAdmin" id="UserName" placeholder="UserName" disabled />
                <label for="UserName" class="text-muted">UserName</label>
            </div>
        </div>
        <div class=" col-md-6 col-sm-12 mb-3">
            <div class="form-floating ">
                <input asp-for="Password" type="password" class="form-control inputAdmin" placeholder="Password" id="password">
                <label for="password" class="text-muted">Password</label>
            </div>
        </div>
        <div class=" col-md-6 col-sm-12 mb-3">
            <div class="form-floating">
                <select class="form-select inputAdmin" asp-for="status" id="Status" aria-label="select Status" disabled>
                    <option value="1">Pending</option>
                    <option value="2">Active</option>
                    <option value="3">Not Active</option>
                </select>
                <label for="Status">Status</label>
            </div>
        </div>
        <div class=" col-md-6 col-sm-12 mb-3">
            <div class="form-floating">
                <select disabled class="form-select inputAdmin" required name="Status" asp-for="RoleId" data-allow-clear="true" tabindex="-1" onchange="myFunction()" id="roles" asp-items="@(new SelectList(ViewBag.RoleComboBox,"RoleId","RoleName"))" data-control="select2" data-placeholder="Select Level">
                </select>
                
                 <label for="Role">Role</label> 
            </div>
        </div>
        <div class="col-12 mb-3 d-flex flex-row-reverse">
            <input type="submit" class="btn btn-outline-info bg-white text-info" value="Reset Password">
        </div>
    </form>


    @*     @ Administrator information @
    
    *@    <form id="admininfo" asp-controller="AdminProfile" asp-action="EditAdminInfo" class="row bg-white shadow form-admin" data-ajax="true" method="post">
        
        <div class="col-12 mb-3">
            <h3>Administrator Information</h3>
        </div>
        <div class=" col-md-6 col-sm-12 mb-3">
            <div class="form-floating ">
                <input asp-for="FirstName" type="text" class="form-control inputAdmin" id="FirstName" placeholder="FirstName" disabled>
                <label for="FirstName" class="text-muted">FirstName</label>
            </div>
        </div>
        <div class=" col-md-6 col-sm-12 mb-3">
            <div class="form-floating ">
                <input asp-for="LastName" type="text" class="form-control inputAdmin" id="LastName" placeholder="LastName" disabled>
                <label for="LastName" class="text-muted">LastName</label>
            </div>
        </div>
        <div class="col-md-6 col-sm-12  mb-3">
            <div class="form-floating ">
                <input asp-for="Email" id="Email" type="email" class="form-control inputAdmin" placeholder="Email" disabled>
                <label for="Email" class="text-muted">Email</label>
            </div>
        </div>
        <div class="col-md-6 col-sm-12  mb-3">
            <div class="form-floating ">
                <input asp-for="ConfirmedEmail" id="ConfirmEmail" type="email" class="form-control inputAdmin" placeholder="Confirm Email" disabled>
                <label for="ConfirmEmail" class="text-muted">Confirm Email</label>
            </div>
        </div>
        <div class="col-md-6 col-sm-12  mb-3">
            <div class="form-floating mb-3">
                <input asp-for="PhoneNumber" id="phone" type="tel" class="form-control inputAdmin" disabled style="height:6vh">
            </div>
        </div>
        <input asp-for="Regionsid" type="hidden" id="regionids" />
        <div class="col-md-6 d-flex">

            @foreach (var cb in ViewBag.RegionComboBox)
            {
                @if (Model.Regionids.Exists(id => id.Regionid == cb.RegionId))
                {
                    <div class="form-check mx-2">
                        <input class="form-check-input"  value="@cb.RegionId" type="checkbox" name="Region"  checked disabled>
                        <label class="form-check-label" for="flexCheckDefault">
                            @cb.RegionName
                        </label>
                    </div>
                }
                else
                {
                    <div class="form-check mx-2">
                        <input class="form-check-input"  value="@cb.RegionId" type="checkbox" name="Region" disabled>
                        <label class="form-check-label" for="flexCheckDefault">
                            @cb.RegionName
                        </label>
                    </div>
                }


            }
        </div>
        <div class="col-12 mb-3 d-flex flex-row-reverse gap-3">
            <button class="btn btn-info text-white" id="Editbtn">Edit</button>
            <input type="submit" class="btn btn-info text-white" id="Savebtn" value="Save" disabled>
        </div>
    </form>

    @*     @ Mailing & Billing Information @
    *@    <form asp-controller="AdminProfile" asp-action="EditBillingInfo" id="mailinginfo" class="row bg-white shadow form-admin" method="post" enctype="multipart/form-data">
        <div class="col-12 mb-3">
            <h3>Mailing & Billing Information</h3>
        </div>
        <div class=" col-md-6 col-sm-12 mb-3">
            <div class="form-floating ">
                <input asp-for="Address1" type="text" class="form-control inputAdmin" id="Address1" placeholder="Address1" disabled>
                <label for="Address1" class="text-muted">Address1</label>
            </div>
        </div>
        <div class=" col-md-6 col-sm-12 mb-3">
            <div class="form-floating">
                <input asp-for="Address2" type="text" class="form-control inputAdmin" id="Address2" placeholder="Address2" disabled>
                <label for="Address2" class="text-muted">Address2</label>
            </div>
        </div>
        <div class=" col-md-6 col-sm-12 mb-3">
            <div class="form-floating">
                <input asp-for="city" type="text" class="form-control inputAdmin" id="City" placeholder="City" disabled>
                <label for="City" class="text-muted">City</label>
            </div>
        </div>
        <div class=" col-md-6 col-sm-12 mb-3">
            <div class="form-floating">
                <select disabled class="form-select form-select-sm inputAdmin" data-allow-clear="true" tabindex="-1" id="State" asp-for="Regionid" onchange="captureSelectedRegion()" asp-items="@(new SelectList(ViewBag.RegionComboBox, "RegionId", "RegionName"))" data-control="select" data-placeholder="Region">
                    <option id="defaultregion" value="">State</option>
                </select>
                <label for="State" class="text-muted">State</label>
            </div>
        </div>
        <div class=" col-md-6 col-sm-12 mb-3">
            <div class="form-floating">
                <input asp-for="zipcode" type="text" class="form-control inputAdmin" id="ZipCode" placeholder="ZipCode" disabled>
                <label for="ZipCode" class="text-muted">ZipCode</label>
            </div>
        </div>
        <div class=" col-md-6 col-sm-12 mb-3">
            <div class="form-floating">
                <input asp-for="altPhone" type="tel" class="form-control inputAdmin" id="Phone" disabled>
                <label for="mobile" class="text-muted">Alternate PhoneNumber</label>
            </div>
        </div>
        @*         @ Save & Edit Button @
        *@        <div class="col-12 mb-3 d-flex flex-row-reverse gap-3">
            <button class="btn btn-info text-white" id="Editbtnbilling">Edit</button>
            <input type="submit" class="btn btn-info text-white" id="Savebtnbilling" value="Save" disabled>
        </div>
    </form>

</section>


@section scripts {
    <script type="text/javascript">
        
        $(document).ready(function () {
            $("#Editbtn").click(function (event) {
                event.preventDefault();
                
                $("#FirstName").prop("disabled", false);
                $("#LastName").prop("disabled", false);
                $("#Email").prop("disabled", false);
                $("#ConfirmEmail").prop("disabled", false);
                $("#phone").prop("disabled", false);
                $("#Savebtn").prop("disabled", false);
                $(".form-check-input").prop("disabled", false);
            });

            $("#Editbtnbilling").click(function (event) {
                event.preventDefault();

                $("#Address1").prop("disabled", false);
                $("#Address2").prop("disabled", false);
                $("#City").prop("disabled", false);
                $("#State").prop("disabled", false);
                $("#ZipCode").prop("disabled", false);
                $("#Phone").prop("disabled", false);
                $("#Savebtnbilling").prop("disabled", false);
            });
            
            $("#Savebtn").click(function (event) {
                
                event.preventDefault();
                

                var formData = $("#admininfo").serialize();
                

                console.log(formData);
                
                $.ajax({
                    url: $('#admininfo').attr('action'),
                    type: "POST",
                    data: formData,                   
                    success: function (response) {
                        // Handle success response
                        console.log(response);
                    },
                    error: function (xhr, status, error) {
                        // Handle error
                        console.error(xhr.responseText);
                    }
                });
                $("#FirstName").prop("disabled", true);
                $("#LastName").prop("disabled", true);
                $("#Email").prop("disabled", true);
                $("#ConfirmEmail").prop("disabled", true);
                $("#phone").prop("disabled", true);
                $("#Savebtn").prop("disabled", true);
                $(".form-check-input").prop("disabled", true);
            });
            $("#Savebtnbilling").click(function (event) {

                event.preventDefault();

                var formData = $("#mailinginfo").serialize();
                console.log(formData);
                $.ajax({
                    url: $('#mailinginfo').attr('action'),
                    type: "POST",
                    data: formData,

                    success: function (response) {
                        // Handle success response
                        console.log(response);
                    },
                    error: function (xhr, status, error) {
                        // Handle error
                        console.error(xhr.responseText);
                    }
                });
                $("#Address1").prop("disabled", true);
                $("#Address2").prop("disabled", true);
                $("#City").prop("disabled", true);
                $("#State").prop("disabled", true);
                $("#ZipCode").prop("disabled", true);
                $("#Phone").prop("disabled", true);
                $("#Savebtnbilling").prop("disabled", true);
            });
            
                // Select the checkbox by its ID
            $('.form-check-input').change(function () {
                let regionIds = $('input[name="Region"]:checked').map(function () {
                    return $(this).val();
                }).get().join(',');
                $('#regionids').val(regionIds);
                console.log(regionIds);
            });
            

        });


    </script>
}
