@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<HalloDoc_DAL.ViewModels.AdminViewModels.ViewDashboradList>


<div class="w-100 ">
    @if (Model.Count > 0)
    {
        <table class=" w-100">
            <thead>
                <tr class="border-bottom p-2">
                    <th class="d-none">RequestId</th>
                    <th class="d-none">RequestClientId</th>
                    <th class="d-none">requesttypeid</th>
                    <th class="d-none">regionid</th>
                    <th>Name</th>
                    <th class="mx-3"></th>
                    @if (Model[0].state == 1 || Model[0].state == 2 || Model[0].state == 3 || Model[0].state == 4 || Model[0].state == 5)
                    {
                        <th>Date of Birth</th>
                    }
                    @if (Model[0].state == 1 || Model[0].state == 2 || Model[0].state == 3)
                    {
                        <th>Requestor</th>
                    }
                    @if (Model[0].state == 1)
                    {
                        <th>Requested Date</th>
                    }
                    @if (Model[0].state == 2 || Model[0].state == 3 || Model[0].state == 4 || Model[0].state == 5 || Model[0].state == 6)
                    {
                        <th>Physician Name</th>
                    }
                    @if (Model[0].state == 2 || Model[0].state == 3 || Model[0].state == 4 || Model[0].state == 5 || Model[0].state == 6)
                    {
                        <th>Date Of Service</th>
                    }

                    @if (Model[0].state == 1 || Model[0].state == 2 || Model[0].state == 3 || Model[0].state == 4 || Model[0].state == 6)
                    {
                        <th>Phone</th>
                    }
                    <th>Address</th>
                    @if (Model[0].state == 1 || Model[0].state == 2 || Model[0].state == 3 || Model[0].state == 5)
                    {
                        <th>Notes</th>
                    }
                    <th>chat With</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody class="text-light ">
                @foreach (var item in Model)
                {
                    <tr class="border-bottom p-2 bg-@item.RequestTypeId">
                        <td class="d-none"></td>
                        <td class="d-none">@item.RequestClientId</td>
                        <td class="d-none">@item.RequestTypeId</td>
                        <td class="d-none "><input class="regionId" value="@item.RegionId" /></td>
                        <td id="PatientName" class="p-2">@item.Patient</td>
                        <td class="mx-3"> <a href="mailto:@item.Email?subject=Comments" class="text-white"><i class="fa-regular fa-envelope"></i></a> </td>
                        @if (item.state == 1 || item.state == 2 || item.state == 3 || item.state == 4 || item.state == 5)
                        {
                            
                            <td>  @item.DateOfBirth</td>
                        }
                        @if (item.state == 1 || item.state == 2 || item.state == 3)
                        {
                            <td>@item.Requestor</td>
                        }
                        @if (item.state == 1)
                        {
                            <td>@item.RequestedDate</td>
                        }
                        @if (item.state == 2 || item.state == 3 || item.state == 4 || item.state == 5 || item.state == 6)
                        {
                            <td>@item.Physician</td>
                        }
                        @if (item.state == 2 || item.state == 3 || item.state == 4 || item.state == 5 || item.state == 6)
                        {
                            <td></td>
                        }
                        @if (item.state == 1 || item.state == 2 || item.state == 3 || item.state == 4 || item.state == 6)
                        {
                            <td class="py-2">
                                <button type="button" class="btn btn-outline-light bg-transparent"><i class="fa-solid fa-phone"></i> @item.Phone</button><br>
                                <small>(Patient)</small><br>
                                @if (item.RequestTypeId != 1)
                                {
                                    <button type="button" class="btn btn-outline-light bg-transparent"><i class="fa-solid fa-phone"></i> @item.PhoneO</button>

                                    <br />
                                    if (item.RequestTypeId == 2)
                                    {
                                        <small>(Family/friend)</small>
                                    }
                                    if (item.RequestTypeId == 3)
                                    {
                                        <small>(Concierge)</small>
                                    }
                                    if (item.RequestTypeId == 4)
                                    {
                                        <small>(Business Partner)</small>
                                    }
                                }
                            </td>
                        }
                        <td>@item.Address</td>
                        @if (item.state == 1 || item.state == 2 || item.state == 3 || item.state == 5)
                        {
                            <td>@item.Notes</td>
                        }

                        <td>

                            @if (item.state == 2 || item.state == 3 || item.state == 4 || item.state == 5 || item.state == 6)
                            {
                                <button type="button" class="btn btn-outline-light bg-transparent"><i class="fa fa-solid fa-user"></i> Petient</button>
                            }
                            <button type="button" class="btn btn-outline-light bg-transparent"><i class="fa-solid fa-user-nurse"></i> Provider </button>
                        </td>
                        <td>
                            <div class="dropdown bg-transparent">
                                <button class="btn btn-outline-light bg-transparent dropdown-toggle " type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    Actions
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">

                                    <li><a class="dropdown-item ViewCasebtn" asp-controller="AdminDashboard" asp-route-requestclientid="@item.RequestClientId" asp-action="ViewCase"><i class="fa-regular fa-file-lines"></i>View Case</a></li>
                                    <li><a class="dropdown-item" asp-controller="AdminDashboard" asp-route-id="@item.RequestId" asp-action="ViewNotes"><i class="fa-solid fa-notes-medical"></i> View Notes</a></li>
                                    @if (item.state == 1)
                                    {
                                        <li><a class="btn dropdown-item" data-bs-toggle="modal" data-bs-target="#assignmodal" data-bs-requestid="@item.RequestId" data-bs-patientname="@item.Patient"><i class="fa-solid fa-notes-medical"></i> Assign Case</a></li>
                                        <li><a class="btn dropdown-item " data-bs-toggle="modal" data-bs-target="#cancelmodal" data-bs-requestid="@item.RequestId" data-bs-patientname="@item.Patient"><i class="fa-solid fa-notes-medical"></i> Cancel Case</a></li>
                                        <li><a class="btn dropdown-item" data-bs-toggle="modal" data-bs-target="#blockmodal" data-bs-requestid="@item.RequestId" data-bs-patientname="@item.Patient"><i class="fa-solid fa-ban"></i> Block Patient</a></li>
                                    }
                                    @if (item.state == 3)
                                    {
                                        <li><a class="btn dropdown-item" data-bs-toggle="modal" data-bs-target="#Transfermodal" data-bs-requestid="@item.RequestId" data-bs-patientname="@item.Patient"><i class="fa-solid fa-arrow-right-arrow-left"></i> Transfer</a></li>
                                        <li><a class="btn dropdown-item" data-bs-toggle="modal" data-bs-target="#sendagreement" data-bs-requesttypeid="@item.RequestTypeId" data-bs-requestid="@item.RequestId" data-bs-patientname="@item.Patient"><i class="fa-regular fa-handshake"></i> Send Agreement</a></li>
                                    }
                                    @if (item.state == 3 || item.state == 5)
                                    {
                                        <li><a class="btn dropdown-item" data-bs-toggle="modal" data-bs-target="#clearCase" data-bs-requestid="@item.RequestId" data-bs-patientname="@item.Patient"><i class="fa-regular fa-circle-xmark"></i> Clear Case</a></li>
                                    }
                                    @if (item.state == 2 || item.state == 4 || item.state == 5)
                                    {
                                        <li><a class="dropdown-item" asp-controller="AdminDashboard" asp-route-requestid="@item.RequestId" asp-action="Orders"><i class="fa-solid fa-clipboard-check"></i> Order</a></li>
                                        @if (item.IsFinalize)
                                        {
                                            <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#Encounterpopup" data-bs-requestid="@item.RequestId" asp-route-requestid="@item.RequestId"><i class="fa-solid fa-file-waveform"></i> Encounter</a></li>
                                        }
                                        else
                                        {
                                            <li><a class="dropdown-item" asp-controller="AdminDashboard" asp-route-requestid="@item.RequestId" asp-action="EncounterForm"><i class="fa-solid fa-file-waveform"></i> Encounter</a></li>
                                        }
                                       @*  <li><a class="dropdown-item" asp-controller="AdminDashboard" data-bs-toggle="modal" data-bs-target="#Encounterpopup" asp-route-requestid="@item.RequestId" asp-action="EncounterForm"><i class="fa-solid fa-file-waveform"></i> Encounter</a></li> *@
                                    }
                                    @if (item.state > 1)
                                    {
                                        <li><a class="dropdown-item" asp-controller="AdminDashboard" asp-action="ViewUploads" asp-route-requestid="@item.RequestId"><i class="fa-solid fa-file-arrow-up"></i> View Uploads</a></li>
                                    }
                                    @if (item.state == 5)
                                    {
                                        <li><a class="dropdown-item" asp-controller="AdminDashboard" asp-route-requestid="@item.RequestId" asp-action="CloseCase" ><i class="fa-regular fa-circle-xmark"></i> Close Case</a></li>
                                        
                                    }
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
            
        </table>
        @if (ViewBag.TotalPages > 1)
        {
            <!-- Pagination controls -->
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    @for (int i = 1; i <= ViewBag.TotalPages; i++)
                    {
                        <li class="page-item @(ViewBag.CurrentPage == i ? "active" : "")">
                            <a class="page-link" href="#" onclick="filterData(@ViewBag.State, @ViewBag.RequestType, @i)">@i</a>
                        </li>
                    }
                </ul>
            </nav>
        }
       
    }
</div>
