@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<section class="p-5 container-fluid w-100 row">
    
        <div class="AdminStatediv col-xl-2 col-lg-3 col-sm-4 col-6 my-1">
            <div id="new" class="btn p-2 w-100 btn-state active active-btn" data-state="1">
            <h5 class="fw-semibold m-0 my-2"> <i class="fa-solid fa-circle-exclamation"></i> NEW</h5>
                <h3 class="fw-bold">@ViewBag.NewCount</h3>
            </div>
        </div>
        <div class="AdminStatediv col-xl-2 col-lg-3 col-sm-4 col-6 my-1">
            <div id="pending" class="btn p-2 w-100 btn-state" data-state="3">
                <h5 class="fw-semibold m-0 my-2"><i class="fa-solid fa-user-doctor"></i> PENDING</h5>
                <h3 class="fw-bold">@ViewBag.PendingCount</h3>
            </div>
        </div>
        <div class="AdminStatediv col-xl-2 col-lg-3 col-sm-4 col-6 my-1">
            <div id="active" class="btn p-2 w-100 btn-state" data-state="2">
            <h5 class="fw-semibold my-2"> <i class="fa-regular fa-circle-check"></i> ACTIVE</h5>
                <h3 class="fw-bold">@ViewBag.ActiveCount</h3>
            </div>
        </div>
        <div class="AdminStatediv col-xl-2 col-lg-3 col-sm-4 col-6 my-1">
            <div id="conclude" class="btn p-2 w-100 btn-state" data-state="4">
            <h5 class="fw-semibold my-2"><i class="fa-regular fa-clock"></i> CONCLUDE</h5>
                <h3 class="fw-bold">@ViewBag.ConcludeCount</h3>
            </div>
        </div>
        <div class="AdminStatediv col-xl-2 col-lg-3 col-sm-4 col-6 my-1">
            <div id="toclose" class="btn p-2 w-100 btn-state" data-state="5">
            <h5 class="fw-semibold my-2"><i class="fa-regular fa-circle-xmark"></i> TO CLOSE</h5>
                <h3 class="fw-bold">@ViewBag.ToCloseCount</h3>
            </div>
        </div>
        <div class="AdminStatediv col-xl-2 col-lg-3 col-sm-4 col-6 my-1">
            <div id="unpaid" class="btn p-2 w-100 btn-state" data-state="6">
            <h5 class="fw-semibold my-2"><i class="fa-solid fa-money-check-dollar"></i> UNPAID</h5>
                <h3 class="fw-bold">@ViewBag.UnpaidCount</h3>
            </div>
        </div>
    
    <div class="mt-4 d-flex flex-row justify-content-between">

        <div class=" d-flex flex-row justify-content-center align-items-baseline">
            <h4>Patients  </h4>
            <div>
                <span class="fw-bold h6 mx-2" id="dataState"> </span>
            </div>
        </div>
        <div>
            <div class="btn btn-info text-white" data-bs-toggle="modal" data-bs-target="#sendlink">
                <i class="fa-regular fa-share-from-square"></i>
                <span class="top-btn p-2">
                    send link
                </span>
            </div>
            <div class="btn btn-info text-white">
                <i class="fa-solid fa-file-pen"></i>
                <span class="top-btn p-2">
                    Create Request
                </span>

            </div>
            <a class="btn btn-info text-white" id="export" onclick="exportToExcel()">
                <i class="fa-solid fa-arrows-turn-right"></i>
                <span class="top-btn p-2">
                    export
                </span>

            </a>
            <div class="btn btn-info text-white">
                <i class="fa-solid fa-file-export"></i>
                
                <span class="top-btn p-2">
                    export all
                </span>

            </div>
            @* <div class="btn btn-info text-white">
                <i class="fa-solid fa-circle-question"></i>
                <span class="top-btn p-2">
                    Request DTY Support
                </span>

            </div> *@
        </div>
    </div>
    <div class="row ps-2 mb-lg-0 ">
        <div class="row col-xl-6">
            <div class="col-sm-6">
                <input id="search-input" class="form-control p-2 mt-3 px-4 mb-3 w-100" type="text"
                       placeholder='Search Patients'>
            </div>
            <div class="col-sm-6">
                <div class="">
                    
                    <select class="form-select form-select-sm p-2 mt-3 mb-3 w-100" data-allow-clear="true" tabindex="-1" id="regionDashboard"  asp-items="@(new SelectList(ViewBag.RegionComboBox, "RegionId", "RegionName"))"  data-control="select" data-placeholder="Region">
                        <option id="defaultregion" value="0">Regions</option>
                    </select> 
                </div>
            </div>
        </div>


        <div class="col-xl-6 d-flex justify-content-xl-end justify-content-center gap-2 gap-sm-3 gap-xl-4 p-0">
            <div class="btn btn-transparent d-flex align-items-center justify-content-center flex-column flex-lg-row request-type-btn" data-requesttype="0">
                <span> All </span>
            </div>
            <div class="btn btn-transparent d-flex align-items-center justify-content-center flex-column flex-lg-row request-type-btn" data-requesttype="1">
                <div class="border border-1 rounded-circle m-1"
                     style="width: 15px; height:15px; background-color: #60bc60;"></div><span>Patient</span>
            </div>
            <div class="btn btn-transparent d-flex align-items-center justify-content-center flex-column flex-lg-row request-type-btn" data-requesttype="2">
                <div class="border border-1 rounded-circle m-1"
                     style="width: 15px; height:15px; background-color: #ee9125;"></div>
                <span>Family/Friend</span>
            </div>
            <div class="btn btn-transparent d-flex align-items-center justify-content-center flex-column flex-lg-row request-type-btn" data-requesttype="4">
                <div class="border border-1 rounded-circle m-1"
                     style="width: 15px; height:15px; background-color: #e36478;"></div><span>Business</span>
            </div>
            <div class="btn btn-transparent d-flex align-items-center justify-content-center flex-column flex-lg-row request-type-btn" data-requesttype="3">
                <div class="border border-1 rounded-circle m-1"
                     style="width: 15px; height:15px; background-color: #007fc7;"></div><span>Concierge</span>
            </div>
        </div>
    </div>
    <div class="table" id="data-table">
        
    </div>
    <partial name="_CancelCase" />
    <partial name="_AssignCase" />
    <partial name="_BlockCase" />
    <partial name="_TransferRequest"/>
    <partial name="_ClearCase"/>
    <partial name="_SendAgreement"/>
    <partial name="_EncounterPOPUP"/>
    <partial name="_SendLink" />

</section>

@section scripts{

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <script>
        
       /*  var state = 1; */// Variable to store the selected state
        var state = localStorage.getItem("state");
        //var dataState = document.getElementById("datastate");
        if (state == 1) {
            $("#new").click();
            $(".btn-state").removeClass("active");
            $("#new").addClass("active");
            $("#dataState").html("(NEW)");
            //dataState.innerHTML = "NEW"
        } else if (state == 2) {
            $("#active").click();
            $(".btn-state").removeClass("active");
            $("#active").addClass("active");
            $("#dataState").html("(ACTIVE)");
            //dataState.innerHTML = "ACTIVE"
        } else if (state == 3) {
            $("#pending").click();
            $(".btn-state").removeClass("active");
            $("#pending").addClass("active");
            $("#dataState").html("(PENDING)");
            //dataState.innerHTML = "PENDING"
        } else if (state == 4) {
            $("#conclude").click();
            $(".btn-state").removeClass("active");
            $("#conclude").addClass("active");
            $("#dataState").html("(CONCLUDE)");
            //dataState.innerHTML = "CONCLUDE"
        } else if (state == 5) {
            $("#toclose").click();
            $(".btn-state").removeClass("active");
            $("#toclose").addClass("active");
            $("#dataState").html("TOCLOSE");
            //dataState.innerHTML = "TOCLOSE"
        } else  {
            $("#unpaid").click();
            $(".btn-state").removeClass("active");
            $("#unpaid").addClass("active");
            $("#dataState").html("(UNPAID)");
            //dataState.innerHTML = "UNPAID"
        };
            var requesttype = 0;
        $(document).ready(function () {
            // Event handler for state buttons
            filterData(state, requesttype,1);
            $(".btn-state").click(function () {
                state = $(this).data("state");
                $(".btn-state").removeClass("active");
                $(this).addClass("active");
                if (state == 1) {
                    $("#dataState").html("(NEW)");
                } else if (state == 2) {
                    $("#dataState").html("(ACTIVE)");
                    //dataState.innerHTML = "ACTIVE"
                } else if (state == 3) {
                    $("#dataState").html("(PENDING)");
                    //dataState.innerHTML = "PENDING"
                } else if (state == 4) {
                    $("#dataState").html("(CONCLUDE)");
                    //dataState.innerHTML = "CONCLUDE"
                } else if (state == 5) {
                    $("#dataState").html("(TOCLOSE)");
                    //dataState.innerHTML = "TOCLOSE"
                } else {
                    $("#dataState").html("(UNPAID)");
                    //dataState.innerHTML = "UNPAID"
                }
                filterData(state, requesttype,1);
            });

            // Event handler for request type buttons
            $(".request-type-btn").click(function () {
                var requesttype = $(this).data("requesttype");
                filterData(state, requesttype,1);
            });
            
        });

        function filterData(state, requesttype,page) {
            $.ajax({
                url: '/AdminDashboard/GetRequestTable',
                type: 'GET',
                data: { state: state, requesttype: requesttype, page: page },
                success: function (data) {
                    $('#data-table').html(data);
                    localStorage.setItem("state", state);
                },
                error: function (xhr, status, error) {
                    console.error("Error occurred: " + error);
                }
            });
        };

        document.addEventListener('click', function (e) {
            if (e.target.tagName === 'BUTTON') {
                e.target.style.outline = 'none';
                
            }
        });

        $(document).ready(function () {
            $("#search-input").on("input", function () {
                var searchText = $(this).val().toLowerCase();
                filterTable(searchText);
            });
        });

        function filterTable(searchText) {
            $("#data-table tbody tr").each(function () {
                var rowText = $(this).find("#PatientName").text().toLowerCase();
                if (rowText.indexOf(searchText) === -1) {
                    $(this).hide();
                } else {
                    $(this).show();
                }
            });
        };

        $(document).ready(function () {
            $("#regionDashboard").change(function () {
                var selectregion = $(this).val();
                filterByregion(selectregion);
            })
        });
        function filterByregion(selectregion) {
            var rows = $("#data-table tbody tr");

            if (selectregion>0) {
                rows.each(function () {
                    // Check if the region of the row matches the selected region
                    if ($(this).find(".regionId").val() == selectregion) {
                        $(this).show(); // Show the row if it matches the selected region
                    } else {
                        $(this).hide(); // Otherwise, hide the row
                    }
                });
            } else {
                // If no region is selected, show all rows
                rows.show();
            }
        };
        function exportToExcel() {
            // Get table element
            var table = document.getElementById("data-table");

            // Convert table to workbook
            var wb = XLSX.utils.table_to_book(table);

            // Generate Excel file
            XLSX.writeFile(wb, "table_data.xlsx");
        }

        const cancelmodal = document.getElementById('cancelmodal')
        if (cancelmodal) {
            cancelmodal.addEventListener('show.bs.modal', event => {
                // Button that triggered the modal
                const button = event.relatedTarget
                // Extract info from data-bs-* attributes
                const patient = button.getAttribute('data-bs-patientname')
                const requestid = button.getAttribute('data-bs-requestid')
                // If necessary, you could initiate an Ajax request here
                // and then do the updating in a callback.
                // Update the modal's content.
                const name = cancelmodal.querySelector('.modal-body #name')
                document.getElementById('cancelreq').value = requestid;
                //modalTitle.textContent = `New message to ${recipient}`
                name.textContent = patient
            })
        }

    </script>

}

